<div class="w-full flex justify-center gap-1 flex-wrap">

  <a *ngFor="let button of this.buttons" #btn class="group bg-emerald-500 hover:bg-emerald-400
  p-2 rounded-full md:rouned-3xl flex align-middle shadow-custom" [href]="button.url" target="_blank">

    <img #img class="w-8 h-8 object-center object-contain" [src]="'assets/' + button.icon" (error)="img.hidden = !(i.hidden = false)"/>

    <i #i hidden="true" class="text-3xl justify-center w-16" [class]="button.icon"></i>

    <span class="motion-safe:transition-all duration-200 whitespace-nowrap origin-left max-w-0 overflow-hidden xl:group-hover:ml-1 xl:group-hover:max-w-prose mt-1 font-bahnschrift font-light text-lg">
      {{ button.name }}&nbsp;
    </span>
  </a>
</div>
