<img (click)="this.toggleLanguage()"
  class="h-8 w-auto p-1 bg-emerald-300 rounded-xl absolute top-0 right-0 md:right-5 md:top-5 hover:scale-110 transition-all cursor-pointer"
  [src]="this.flag()" a-hideNotLoaded />
<button class="opacity-0 text-3xl hover:opacity-100 absolute top-0 left-0" (click)="this.secret()">🤫</button>
<app-about></app-about>


<app-heading id="work" text="about.work"></app-heading>
<app-list type="work"></app-list>
<app-hr></app-hr>
<app-heading id="projects" text="about.projects"></app-heading>
<app-list type="projects"></app-list>
<footer class="pt-10 text-center font-bahnschrift">
  <i class="ph-copyright"></i> Wojciech Duda 2023
</footer>

