<article class="pb-5 shadow-lg black">
  <div class="flex-none w-full h-72 relative">
    <img [src]="this.project.images[0].src" alt=""
      class="absolute inset-0 w-full h-full object-cover object-center" />
  </div>
  <div class="flex flex-wrap w-full h-64 pt-5">
    <h2 class="text-5xl text-center capitalize my-2 font-josefin text-emerald-800 stroke w-full grow">
      {{ this.project.name }}
    </h2>
    <div class="basis-full text-justify mx-10">
      <p *ngFor="let paragraph of this.project.description" class="">{{ paragraph }}</p>
    </div>
    <app-buttons-bar class="self-end w-full" [buttons]="this.project.interactions"></app-buttons-bar>
  </div>

</article>
